I*{
    transition: 0.5s ease-in-out;
}


.null-alert{
height:40px ;
width:600px;
display:none;
padding:5px;
margin-left:-100px;
text-align:center;
color:red;
background-color: rgb(255 0 0 / 34%);
border:solid red 1px;
}















